resources/lens/xsd/bgtcmd.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2005 sp1 U (http://www.xmlspy.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<!-- 
	************************************************************
	Copyright 2006, Burning Glass Technologies
	BGT Command Content Model
	************************************************************

	BGT Command Content Model
	06/OCT/2006 KNK Created
-->
<xs:schema targetNamespace="http://www.burning-glass.com/bgtcmd/1.0" xmlns:jd="http://www.burning-glass.com/JobDoc/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:pd="http://www.burning-glass.com/Posting/1.0" xmlns:rd="http://www.burning-glass.com/ResDoc/1.0" xmlns:bc="http://www.burning-glass.com/bgtcmd/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.burning-glass.com/JobDoc/1.0" schemaLocation="JobDoc.xsd"/>
	<xs:import namespace="http://www.burning-glass.com/Posting/1.0" schemaLocation="posting.xsd"/>
	<xs:import namespace="http://www.burning-glass.com/ResDoc/1.0" schemaLocation="ResDoc.xsd"/>
	<xs:element name="bgtcmd">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="bc:init"/>
				<xs:element ref="bc:info"/>
				<xs:element ref="bc:vendors"/>
				<xs:element ref="bc:count"/>
				<xs:element ref="bc:docinfo"/>
				<xs:element ref="bc:register"/>
				<xs:element ref="bc:unregister"/>
				<xs:element ref="bc:fetch"/>
				<xs:element ref="bc:clarify"/>
				<xs:element ref="bc:search"/>
				<xs:element ref="bc:match"/>
				<xs:element ref="bc:cross"/>
				<xs:element ref="bc:canon"/>
				<xs:element ref="bc:tag"/>
				<xs:element ref="bc:tagwithrtf"/>
				<xs:element ref="bc:tagwithhtm"/>
				<xs:element ref="bc:vendor"/>												
			</xs:choice>
			<xs:attribute name="outfile" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="init">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="xs:anyType">
					<xs:attribute name="loglevel">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="info"/>
								<xs:enumeration value="error"/>
								<xs:enumeration value="debug"/>
								<xs:enumeration value="stats"/>
								<xs:enumeration value="warning"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="info">
		<xs:complexType mixed="true">
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="bc:service"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="service">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="xs:anyType">
					<xs:attribute name="name" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="tagger"/>
								<xs:enumeration value="logger"/>
								<xs:enumeration value="docserver"/>
								<xs:enumeration value="analyzer"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="type" default="none">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="none"/>
								<xs:enumeration value="resume"/>
								<xs:enumeration value="posting"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="label" default="none">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="none"/>
								<xs:enumeration value="CDATA"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="vendors">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="xs:anyType">
					<xs:attribute name="type" default="resume">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="resume"/>
								<xs:enumeration value="posting"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="count">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="xs:anyType">
					<xs:attribute name="type" default="resume">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="resume"/>
								<xs:enumeration value="posting"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="vendor" type="xs:string" use="required"/>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="docinfo">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="xs:anyType">
					<xs:attribute name="type" default="resume">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="resume"/>
								<xs:enumeration value="posting"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="key" type="xs:string"/>
					<xs:attribute name="vendor" type="xs:string"/>
					<xs:attribute name="id" type="xs:string"/>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="register">
		<xs:complexType mixed="true">
			<xs:choice>
				<xs:sequence>
					<xs:element ref="bc:special" minOccurs="0"/>
					<xs:element ref="bc:cleantext"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="rd:special" minOccurs="0"/>
					<xs:element ref="rd:resume"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="jd:special" minOccurs="0"/>
					<xs:element ref="jd:posting"/>
				</xs:sequence>
				<xs:element ref="rd:ResDoc"/>
				<xs:element ref="jd:JobDoc"/>
				<!--	<xs:element ref="bc:infile"/> -->
			</xs:choice>
			<xs:attribute name="type" default="resume">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="resume"/>
						<xs:enumeration value="posting"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="vendor" type="xs:string" use="required"/>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="unregister">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="xs:anyType">
					<xs:attribute name="type" default="resume">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="resume"/>
								<xs:enumeration value="posting"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="vendor" type="xs:string"/>
					<xs:attribute name="id" type="xs:string"/>
					<xs:attribute name="key" type="xs:NMTOKEN"/>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fetch">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="xs:anyType">
					<xs:attribute name="type" default="resume">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="resume"/>
								<xs:enumeration value="posting"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="key" type="xs:string"/>
					<xs:attribute name="vendor" type="xs:string"/>
					<xs:attribute name="id" type="xs:string"/>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="clarify">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<!--	<xs:element ref="bc:infile"/> -->
			</xs:choice>
			<xs:attribute name="type" default="resume">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="resume"/>
						<xs:enumeration value="posting"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="count" type="xs:NMTOKEN" default="10"/>
			<xs:attribute name="min" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="search">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:choice>
					<xs:element ref="bc:doc"/>
					<xs:element ref="bc:cleantext"/>
					<xs:element ref="rd:ResDoc"/>
					<xs:element ref="rd:resume"/>
					<xs:element ref="jd:JobDoc"/>
					<xs:element ref="pd:posting"/>
					<!--	<xs:element ref="bc:infile"/> -->
				</xs:choice>
				<xs:element ref="bc:keyword"/>
				<xs:element ref="bc:yrsexp"/>
				<xs:element ref="bc:distance"/>
				<xs:element ref="bc:include"/>
			</xs:choice>
			<xs:attribute name="type" default="resume">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="resume"/>
						<xs:enumeration value="posting"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="vendor" type="xs:string"/>
			<xs:attribute name="count" type="xs:NMTOKEN" default="10"/>
			<xs:attribute name="filter-count" type="xs:NMTOKEN"/>
			<xs:attribute name="min" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="keyword">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="yrsexp">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="xs:anyType">
					<xs:attribute name="min" type="xs:string"/>
					<xs:attribute name="max" type="xs:string"/>
					<xs:attribute name="unknown" default="include">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="include"/>
								<xs:enumeration value="exclude"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="distance">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="xs:anyType">
					<xs:attribute name="max" type="xs:string"/>
					<xs:attribute name="units" default="miles">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="miles"/>
								<xs:enumeration value="km"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="unknown" default="include">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="include"/>
								<xs:enumeration value="exclude"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<!--	<xs:element name="include">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="xs:anyType">
					<xs:attribute name="var" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="key"/>
								<xs:enumeration value="yrsexp"/>
								<xs:enumeration value="schools"/>
								<xs:enumeration value="title"/>
								<xs:enumeration value="employer"/>
								<xs:enumeration value="id"/>
								<xs:enumeration value="distance"/>
								<xs:enumeration value="name"/>
								<xs:enumeration value="lens"/>
								<xs:enumeration value="keyword"/>
								<xs:enumeration value="filter"/>
								<xs:enumeration value="jobs"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element> -->
	<xs:element name="include">
		<xs:complexType>
			<xs:attribute name="var" use="required">
				<xs:simpleType>
					<xs:union memberTypes="bc:includeVar bc:includeVarSpecial"/>
				</xs:simpleType>
			</xs:attribute>
			<!--<xs:complexContent>
                     <xs:restriction base="xs:anyType">-->
			<!--</xs:restriction>
                </xs:complexContent>-->
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="includeVar">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="key"/>
			<xs:enumeration value="yrsexp"/>
			<xs:enumeration value="schools"/>
			<xs:enumeration value="title"/>
			<xs:enumeration value="employer"/>
			<xs:enumeration value="id"/>
			<xs:enumeration value="distance"/>
			<xs:enumeration value="name"/>
			<xs:enumeration value="lens"/>
			<xs:enumeration value="keyword"/>
			<xs:enumeration value="filter"/>
			<xs:enumeration value="jobs"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="includeVarSpecial">
		<xs:restriction base="xs:string">
			<xs:pattern value="special_.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="match">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:choice>
					<xs:element ref="bc:doc"/>
					<xs:element ref="bc:cleantext"/>
					<xs:element ref="rd:ResDoc"/>
					<xs:element ref="rd:resume"/>
					<xs:element ref="jd:JobDoc"/>
					<xs:element ref="pd:posting"/>
					<!--	<xs:element ref="bc:infile"/> -->
				</xs:choice>
				<xs:choice>
					<xs:element ref="bc:doc"/>
					<xs:element ref="bc:cleantext"/>
					<xs:element ref="rd:ResDoc"/>
					<xs:element ref="rd:resume"/>
					<xs:element ref="jd:JobDoc"/>
					<xs:element ref="pd:posting"/>
					<!--	<xs:element ref="bc:infile"/> -->
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="cross">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="bc:group"/>
				<xs:element ref="bc:group"/>
				<xs:element ref="bc:group" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="group">
		<xs:complexType mixed="true">
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="bc:doc"/>
				<xs:element ref="bc:cleantext"/>
				<xs:element ref="rd:ResDoc"/>
				<xs:element ref="rd:resume"/>
				<xs:element ref="jd:JobDoc"/>
				<xs:element ref="pd:posting"/>
				<!--	<xs:element ref="bc:infile"/> -->
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="canon">
		<xs:complexType mixed="true">
			<xs:choice>
				<xs:element ref="rd:ResDoc"/>
				<xs:element ref="rd:resume"/>
				<xs:element ref="jd:JobDoc"/>
				<xs:element ref="pd:posting"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="tag">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<!--	<xs:element ref="bc:infile"/> -->
			</xs:choice>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="resume"/>
						<xs:enumeration value="posting"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="vendor" type="xs:string"/>
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
<xs:element name="tagwithhtm">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<!--xs:element ref="infile"/-->
			</xs:choice>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="resume"/>
						<xs:enumeration value="posting"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="tagwithrtf">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<!--xs:element ref="infile"/-->
			</xs:choice>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="resume"/>
						<xs:enumeration value="posting"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="vendor">
		<xs:complexType>
			<xs:attribute name="type" default="resume">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="resume"/>
						<xs:enumeration value="posting"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="command" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="vendorcreate"/>
						<xs:enumeration value="vendoropen"/>
						<xs:enumeration value="vendorclose"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="docserver" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="doc">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="xs:anyType">
					<xs:attribute name="type" default="resume">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="resume"/>
								<xs:enumeration value="posting"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="vendor" type="xs:string"/>
					<xs:attribute name="id" type="xs:string"/>
					<xs:attribute name="key" type="xs:NMTOKEN"/>
					<xs:attribute name="cid" type="xs:string" use="optional"/>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="cleantext">
		<xs:complexType mixed="true">
			<xs:complexContent mixed="true">
				<xs:restriction base="xs:anyType">
					<xs:attribute name="type" default="resume">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="resume"/>
								<xs:enumeration value="posting"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="cid" type="xs:string" use="optional"/>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<!--	<xs:element name="infile">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element> -->
	<xs:element name="special">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
