resources/lens/xsd/bgtres.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2005 sp1 U (http://www.xmlspy.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<!-- 
	************************************************************
	Copyright 2006, Burning Glass Technologies
	BGT Results Content Model
	************************************************************

	BGT Results Content Model

    06/OCT/2006 KNK Created
-->
<xs:schema targetNamespace="http://www.burning-glass.com/bgtres/1.0" xmlns:br="http://www.burning-glass.com/bgtres/1.0" xmlns:rd="http://www.burning-glass.com/ResDoc/1.0" xmlns:pd="http://www.burning-glass.com/Posting/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.burning-glass.com/Posting/1.0" schemaLocation="posting.xsd"/>
	<xs:import namespace="http://www.burning-glass.com/ResDoc/1.0" schemaLocation="resdoc.xsd"/>
	<xs:element name="bgtres">
		<xs:complexType mixed="true">
			<xs:choice>
				<xs:element ref="br:error"/>
				<xs:element ref="br:init"/>
				<xs:element ref="br:info"/>
				<xs:element ref="br:vendors"/>
				<xs:element ref="br:count"/>
				<xs:element ref="br:docinfo"/>
				<xs:element ref="br:register"/>
				<xs:element ref="br:unregister"/>
				<xs:element ref="br:clarify"/>
				<xs:element ref="br:search"/>
				<xs:element ref="br:match"/>
				<xs:element ref="br:cross"/>
				<xs:element ref="br:vendor"/>				
				<xs:element ref="rd:ResDoc"/>
				<xs:element ref="pd:posting"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="error">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="init">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="xs:anyType">
					<xs:attribute name="loglevel" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="info"/>
								<xs:enumeration value="error"/>
								<xs:enumeration value="debug"/>
								<xs:enumeration value="stats"/>
								<xs:enumeration value="warning"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="info">
		<xs:complexType mixed="true">
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="br:service"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="service">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="br:version"/>
				<xs:element ref="br:error"/>
			</xs:choice>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="tagger"/>
						<xs:enumeration value="logger"/>
						<xs:enumeration value="docserver"/>
						<xs:enumeration value="analyzer"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="type" default="none">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="none"/>
						<xs:enumeration value="resume"/>
						<xs:enumeration value="posting"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="label" default="none">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="none"/>
						<xs:enumeration value="CDATA"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="status" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="version">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="vendors">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="xs:anyType">
					<xs:attribute name="type" default="resume">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="resume"/>
								<xs:enumeration value="posting"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="count" type="xs:NMTOKEN" use="required"/>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="vendor">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" default="resume">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="resume"/>
								<xs:enumeration value="posting"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="count">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
			<xs:attribute name="type" default="resume">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="resume"/>
						<xs:enumeration value="posting"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="vendor" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="docinfo">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="xs:anyType">
					<xs:attribute name="type" default="resume">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="resume"/>
								<xs:enumeration value="posting"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="key" type="xs:string"/>
					<xs:attribute name="vendor" type="xs:string"/>
					<xs:attribute name="id" type="xs:string"/>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="register">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="xs:anyType">
					<xs:attribute name="type" default="resume">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="resume"/>
								<xs:enumeration value="posting"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="vendor" type="xs:string"/>
					<xs:attribute name="id" type="xs:string"/>
					<xs:attribute name="key" type="xs:NMTOKEN" use="required"/>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="unregister">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="xs:anyType">
					<xs:attribute name="key" type="xs:NMTOKEN" use="required"/>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="clarify">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="br:word" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="count" type="xs:NMTOKEN" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="word">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
			<xs:attribute name="score" type="xs:NMTOKEN" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="search">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="br:resume"/>
				<xs:element ref="pd:posting"/>
			</xs:choice>
			<xs:attribute name="count" type="xs:NMTOKEN" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="resume">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="br:id"/>
				<xs:element ref="br:lens"/>
				<xs:element ref="br:keyword"/>
				<xs:element ref="br:name"/>
				<xs:element ref="br:yrsexp"/>
				<xs:element ref="br:distance"/>
				<xs:element ref="br:jobs"/>
				<xs:element ref="br:schools"/>
			</xs:choice>
			<xs:attribute name="key" type="xs:string" use="required"/>
			<xs:attribute name="score" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="id">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="lens">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="keyword">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="name">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="yrsexp">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="distance">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="jobs">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="br:job" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="job">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="br:title"/>
				<xs:element ref="br:employer"/>
				<xs:element ref="br:start"/>
				<xs:element ref="br:end"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="title">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="employer">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="start">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="end">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="schools">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="br:school" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="school">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="br:degree"/>
				<xs:element ref="br:major"/>
				<xs:element ref="br:end"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="degree">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="major">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="match">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="cross">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="br:score" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="score">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
			<xs:attribute name="cids" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
