Apps/Integration/JobG8/Schema/AdvertPostService.wsdl

<!--WSDL generated by thinktecture WSCF; version 0.7.6319.1-->
<!--Wednesday, 15-10-2008 - 10:11 AM-->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:import1="http://jobg8.com/" xmlns:import0="http://jobg8.com/messages" xmlns:tns="http://jobg8.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:import3="http://jobg8.com/postadvertheaders" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="AdvertPostService" targetNamespace="http://jobg8.com" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Allows adverts to be sent, amended or deleted in Jobg8</wsdl:documentation>
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="AdvertMessages.xsd" namespace="http://jobg8.com/messages" />
      <xsd:import schemaLocation="AdvertAmendSchema.xsd" namespace="http://jobg8.com/" />
      <xsd:import schemaLocation="AdvertDeleteSchema.xsd" namespace="http://jobg8.com/" />
      <xsd:import schemaLocation="AdvertPostHeader.xsd" namespace="http://jobg8.com/postadvertheaders" />
      <xsd:import schemaLocation="AdvertPostSchema.xsd" namespace="http://jobg8.com/" />
    </xsd:schema>
  </types>
  <message name="postAdvertIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="import0:PostAdvert" />
  </message>
  <message name="postAdvertOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="import0:PostAdvertResponse" />
  </message>
  <message name="postAdvertInHeader1">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="import3:UserCredentials" />
  </message>
  <message name="amendAdvertIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="import0:AmendAdvert" />
  </message>
  <message name="amendAdvertOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="import0:AmendAdvertResponse" />
  </message>
  <message name="amendAdvertInHeader1">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="import3:UserCredentials" />
  </message>
  <message name="deleteAdvertIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="import0:DeleteAdvert" />
  </message>
  <message name="deleteAdvertOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="import0:DeleteAdvertResponse" />
  </message>
  <message name="deleteAdvertInHeader1">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="import3:UserCredentials" />
  </message>
  <portType name="AdvertPostServiceInterface">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Allows adverts to be sent, amended or deleted in Jobg8</wsdl:documentation>
    <operation name="PostAdvert">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:postAdvertIn" />
      <output message="tns:postAdvertOut" />
    </operation>
    <operation name="AmendAdvert">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:amendAdvertIn" />
      <output message="tns:amendAdvertOut" />
    </operation>
    <operation name="DeleteAdvert">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:deleteAdvertIn" />
      <output message="tns:deleteAdvertOut" />
    </operation>
  </portType>
  <binding name="AdvertPostService" type="tns:AdvertPostServiceInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="PostAdvert">
      <soap:operation soapAction="http://jobg8.com:postAdvertIn" style="document" />
      <input>
        <soap:body use="literal" />
        <soap:header message="tns:postAdvertInHeader1" part="messagePart" use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="AmendAdvert">
      <soap:operation soapAction="http://jobg8.com:amendAdvertIn" style="document" />
      <input>
        <soap:body use="literal" />
        <soap:header message="tns:amendAdvertInHeader1" part="messagePart" use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="DeleteAdvert">
      <soap:operation soapAction="http://jobg8.com:deleteAdvertIn" style="document" />
      <input>
        <soap:body use="literal" />
        <soap:header message="tns:deleteAdvertInHeader1" part="messagePart" use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="AdvertPostServicePort">
    <port name="AdvertPostServicePort" binding="tns:AdvertPostService">
      <soap:address location="" />
    </port>
  </service>
</definitions>