Apps/Services/External/HrCareers/Schema/JobSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema finalDefault="" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="jobs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="job">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="title">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="200" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="description">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="64000" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="reference" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="startdate" type="xs:date" />
              <xs:element minOccurs="1" maxOccurs="5" name="category">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="1" maxOccurs="1" name="name">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="100" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:int" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="jobtype">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="30" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:int" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="region">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="200" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="application">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="emailto">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="200" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="emailcc">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="200" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="url">
                      <xs:simpleType>
                        <xs:restriction base="xs:anyURI">
                          <xs:maxLength value="200" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="companyid" type="xs:int" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>